<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/spring-context-3.2.xsd">



    <util:map id="defaultUsers" key-type="java.lang.Long">
        <entry key="1">
            <bean class="com.epam.spring.homework.spring.homework.domain.User">
                <constructor-arg value="Yuriy"/>
                <constructor-arg value="Razzhivin"/>
                <constructor-arg value="yuriy_rzzhivin@epam.com"/>
            </bean>
        </entry>
        <entry key="2">
            <bean class="com.epam.spring.homework.spring.homework.domain.User">
                <constructor-arg value="Roman"/>
                <constructor-arg value="Pechersky"/>
                <constructor-arg value="roman_pechersky@epam.com"/>
            </bean>
        </entry>
        <entry key="3">
            <bean class="com.epam.spring.homework.spring.homework.domain.User">
                <constructor-arg value="Anton"/>
                <constructor-arg value="Shaklein"/>
                <constructor-arg value="anton_shaklein@epam.com"/>
            </bean>
        </entry>
    </util:map>

    <bean id="userService" class="com.epam.spring.homework.spring.homework.services.UserService">
        <property name="users" ref="defaultUsers"/>
    </bean>
    <bean id="consoleService" class="com.epam.spring.homework.spring.homework.ConsoleService"/>
    <bean id="connectedPromptProvider" class="com.epam.spring.homework.spring.homework.ConnectedPromptProvider"/>
    <bean id="userConverter" class="com.epam.spring.homework.spring.homework.UserConverter"/>
    <bean id="userValueProvider" class="com.epam.spring.homework.spring.homework.UserValueProvider"/>


</beans>